@charset "UTF-8";
:root {
  --primary-text-color: #ffffff;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding-left: 0;
  padding-bottom: 0;
  list-style: none;
}

body {
  color: var(--main-text-color);
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2) {
  padding-bottom: 47px;
}

.section:nth-child(3) {
  padding-top: 47px;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.logo__link {
  display: block;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo__header {
  color: #000000;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item {
  margin-left: auto;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link::after {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 4px;
  left: 0;
  bottom: -32px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: background-color 250ms var(--timing-function);
  border-radius: 10px;
}
.navigation__link:hover::after {
  width: 100%;
  opacity: 1;
}

.current::after {
  width: 100%;
  opacity: 1;
}

.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__list {
  display: flex;
  margin-left: auto;
  gap: 30px;
  align-items: center;
}

.contact__item + .item {
  margin-left: 50px;
}

.contacts__item {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill 250ms var(--timing-function);
}

.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.hero__background {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
  background-size: cover;
  background-position: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.hero__button {
  text-align: center;
  align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

/*---ПРІОРІТЕТИ-------------------------------------------*/
.priorities {
  background-color: #ffffff;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

.priority__wrap {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.priority__icon {
  width: 70px;
  height: 70px;
}

.priority__title {
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.priority__text {
  margin-top: 0;
  margin-bottom: 0;
}

/*---Чим ми займаємось----------------*/
.specialization {
  background-color: #ffffff;
}

.specialization__item {
  position: relative;
  background-color: #ffffff;
}
.specialization__item:not(last-child) {
  margin-right: 30px;
}

.specialization__wrap {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  top: 224px;
}

.specialization__name {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
}

/*---НАША КОМАНДА--------------------------------*/
.team {
  background-color: #f5f4fa;
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.team__item:not(last-child) {
  margin-right: 30px;
}

.team__wrap {
  padding-top: 30px;
  margin: 0;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.socials__list {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 100%;
  height: 100%;
  color: black;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: #AFB1B8;
  padding: 12px;
  transition: fill 250ms var(--timing-function);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: white;
}

/*---ПОСТІЙНІ КЛІЄНТИ-----------------------------------------*/
.clients {
  background-color: #FFFFFF;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  outline: 1px solid #AFB1B8;
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  transition: outline 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  outline: 1px solid var(--accent-color);
}

.clients__icon {
  fill: #AFB1B8;
  transition: fill 250ms var(--timing-function);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.portfolio {
  background-color: #FFFFFF;
}

.portfolio-button__list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.portfolio__button:not(last-item) {
  margin-right: 8px;
}

.portfolio__button {
  min-width: 73px;
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio__button:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__description {
  padding: 20px 24px;
  margin: 0 auto;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__link {
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__title {
  line-height: 2;
}

.portfolio__text {
  line-height: 1.9;
}

.portfolio__title {
  margin: 0 0 4px 0;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__text {
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-text-color);
}

.portfolio__link {
  text-decoration: none;
  display: block;
}

.portfolio__link:hover .overlay-text,
.portfolio__link:focus .overlay-text {
  transform: translateY(0);
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer__wrapper {
  margin-right: 70px;
}

.footer__link {
  display: block;
  margin-bottom: 20px;
}

.logo__footer {
  color: var(--primary-text-color);
}

.footer__list {
  display: block;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #43444D;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  color: var(--accent-color);
}

.contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms var(--timing-function);
}
.contacts:hover, .contacts:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: 250ms var(--timing-function);
}

.footer__item {
  margin-bottom: 9px;
}

.subscribe__title {
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: white;
}

.social__link {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

/*---SUBSCRIBE--------------------------------*/
.subscribe {
  margin-left: 93px;
  margin-top: 72px;
}

.subscribe__form {
  display: block;
}

.subscribe__box {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  padding-left: 28px;
  padding-right: 62px;
  cursor: pointer;
}

.subscribe__text {
  position: relative;
  font-weight: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: #ffffff;
  letter-spacing: 0.06em;
}
.subscribe__text::after {
  content: url("../images/iconsend.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  transition: transform 250ms var(--timing-function);
  transform: translate(-50%, -50%) scale(1) rotate(1);
}

.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms var(--timing-function);
}

.modal__icon--close {
  position: absolute;
  top: 66%;
  left: 66%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition: fill 250ms var(--timing-function);
}
.modal__icon--close .modal__button--close:focus, .modal__button--close:hover .modal__icon--close {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #757575;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}

.modal__wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  padding-left: 42px;
  transition: outline-color 250ms var(--timing-function);
}
.modal__input:focus {
  outline-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  display: inline-block;
  fill: #212121;
  transition: fill 250ms var(--timing-function);
}
.modal__input:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
}

.privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-size: 14px;
}

.privacy span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 1.8px solid #212121;
  border-radius: 3px;
  margin-right: 9px;
  fill: transparent;
}
.privacy__checkbox:checked .privacy span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #FFFFFF;
}
.privacy__checkbox:focus .privacy span {
  border-color: var(--accent-color);
}

.privacy__button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.privacy__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy__doc {
  display: inline-block;
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.privacy__text {
  text-align: center;
}/*# sourceMappingURL=main.css.map */