.backdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function) ;
  }

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

.modal {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    width: 528px; min-height: 581px;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    transition: transform 250ms var(--timing-function);
    transform: translate(-50%, -50%) scale(1) rotate(1); 
  }

  .backdrop.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
  }

.modal__button--close {
    position: absolute;
    top: 8px; right: 8px;
    width: 30px; height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: color 250ms var(--timing-function);
  }
    
.modal__icon--close {
    position: absolute;
    top: 66%; left: 66%;
    transform: translate(-50%, -50%);
    fill: #000000;
    transition: fill 250ms var(--timing-function);
  .modal__button--close:focus,
  .modal__button--close:hover & {
    fill: var(--accent-color);
      border-color: var(--accent-color);
  }}
  
  .modal__title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .modal__field{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #757575;
  }

  .modal__label{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
  }

  .modal__wrap {
  position: relative;
  
  }
  .modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    padding-left: 42px; 
    transition: outline-color 250ms var(--timing-function);
  &:focus {
    outline-color: var(--accent-color) ;
  }}

  .modal__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    display: inline-block;
    fill: #212121;
    transition: fill 250ms var(--timing-function);
  .modal__input:focus & {
    fill: var(--accent-color);
  }}
  
  .modal__text{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
    margin-bottom: 20px;
  }

  .privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
    font-size: 14px;
  }

  .privacy span { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 1.8px solid #212121;
    border-radius: 3px;
    margin-right: 9px;
    fill: transparent;
  .privacy__checkbox:checked & {
      background-color: var(--accent-color);
      border-color: transparent;
      fill: #FFFFFF; 
      }
  .privacy__checkbox:focus & {
        border-color: var(--accent-color);
      }}

  .privacy__button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto ;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    background-color: #2196f3;
    color: #ffffff;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    border: none;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  
  .privacy__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .privacy__doc {
    display: inline-block;
    color: var(--accent-color);
    text-decoration: underline; 
    cursor: pointer; 
  }
  .privacy__text {
    text-align: center;
  }
   
  