:root {
    --primary-text-color: #ffffff;
    --title-text-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #2f303a;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }