

.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  .main-title {
    width: 696px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
  .order {
    text-align: center;
    align-items: center;
    padding: 10px 32px;
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
  }
  .title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
  }
  .sub-title {
    margin-bottom: 10px;
    margin-top: 0;
  
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
  }
  .text {
    margin-top: 0;
    margin-bottom: 0;
  }
  